body {
    background: #2e3537;
    margin: 0;
    height: 100vh;
  }
  
  .imgScoler {
    margin: 300px;
    position: relative;
  }
  
  #expand {
    background-image: url(/Images/HomePage/DSC00692.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%; */
    min-width: 20%;
    min-height: 500px;
    position: absolute;
    will-change: width;
    
    
  }
