<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="/Style/ContactUs.css">
    <title> Contact US</title>
  </head>

  <body>

    <div class="mp-nav-container">
      <div class="mp-nav-container-logo-container">
          <img src="/Images/suoconsulting-logo.png" alt="this is an logo" />
      </div>

      <div class="mp-nav-container-navItem-container">
          <a href="/Home.html" class="insights"> Home &nbsp; <i class="fas fa-chevron-down"
                  style="color: white;"></i></a>
          <a href="view/services/servicesMain.html" target="_self" class="services">Services &nbsp <i
                  class="fas fa-chevron-down" style="color: white;"></i></a>
          <a href="view/Career/career.html" target="_self" class="career">Careers &nbsp<i class="fas fa-chevron-down"
                  style="color: white;"></i></a>
          <a href="view/media/mediaMain.html" target="_self" class="Media">Media &nbsp<i class="fas fa-chevron-down"
                  style="color: white;"></i></a>
          <a href="view/sectors/sectorMain.html" class="sectors">Sectors &nbsp<i class="fas fa-chevron-down"
                  style="color: white;"></i></a>
          <a href="view/About us/aboutUs.html" target="_self" class="About-us">About Us &nbsp <i
                  class="fas fa-chevron-down" style="color: white;"></i></a>
      </div>

      <div class="mp-nav-container_Utility-Icons">
          <a href="/view/Forms/ContactUs.html" style="color: white; text-decoration: none; ">  <i class="fa-solid fa-arrow-up-right-from-square"></i>  &nbsp; ContactUs</a>
      </div>
  </div>

     <div class="hedaer">
      <p class="hedaingBorder">CLIENT QUERY FORM</p>
     </div>


     <!-- contact us form form -->
    <div class="form-Container">
      <div class="s1Border">
      <p class="BasicInformation"> Basic Information</p>
  <form>
      <div class="form-group">
          <label for="exampleInputEmail1">Name<span style="color: red;"> * </span></label>
          <input type="text" class="form-control" id="Name" aria-describedby="Name" placeholder="Enter Your Name">
        </div>

      <div class="form-group">
        <label for="Age">Age<span style="color: red;"> * </span></label>
        <input type="number" class="form-control" id="Age" aria-describedby="emailHelp" placeholder="Enter Your Age">
      </div>

      <div class="form-group">
        <label for="Phone">Phone Number<span style="color: red;"> * </span></label>
        <input type="number" class="form-control" id="Phone" placeholder="Enter your Phone Number">
      </div>

      <div class="form-group">
        <label for="Email">Email<span style="color: red;"> * </span></label>
        <input type="email" class="form-control" id="Email" placeholder="xyz@example.com">
      </div>
      <div class="form-group">
          <label for="Location"> Current Location<span style="color: red;"> * </span></label>
          <input type="text" class="form-control" id="Location" placeholder=" Enter Current Location">
      </div>

      <div class="form-group">
        <label for="Occupation">Current Occupation<span style="color: red;"> * </span></label>
        <input type="text" class="form-control" id="Occupation" placeholder="Enter Current Occupation">
       </div>

        <div class="form-group">
          <label for="Occupation">Marital Status<span style="color: red;"> * </span></label>
          <input type="text" class="form-control" id="Marital" placeholder="Enter your Marital Status">
    </div>
  </div>
     

    <div class="s1Border">
      <p class="BasicInformation">EDUCATION & PROFESSIONAL HISTORY</p>
  <form>
      <div class="form-group">
          <label for="Qualification">Hightest Education Qualification</label>
          <input type="text" class="form-control" id="Qualification" aria-describedby="Name" placeholder="Field And Duration">
        </div>

      <div class="form-group">
        <label for="Experience1">Work Experience #1</label>
        <input type="text" class="form-control" id="Experience1" aria-describedby="emailHelp" placeholder="Field And Duration">
      </div>

      <div class="form-group">
        <label for="Experience2">Work Experience #2</label>
        <input type="text" class="form-control" id="Experience2" aria-describedby="emailHelp" placeholder="Field And Duration">
      </div>
      
      <div class="form-group">
        <label for="Experience3">Work Experience #3</label>
        <input type="text" class="form-control" id="Experience3" aria-describedby="emailHelp" placeholder="Field And Duration">
      </div>
</div>

      <div class="s1Border">
        <p class="BasicInformation">REQUIRMENT & QUERY</p>
    <form>
        <div class="form-group">
            <label for="Service">Service(s) Required</label>
            <input type="text" class="form-control" id="Service">
          </div>
  
        <div class="form-group">
          <label for="Experience1">Preferred Means of Communication</label>
          <input type="text" class="form-control" id="Communication" >
        </div>

        <input type="button" value="Submit">
      
      
  </form>
      </div>

    
  </body>
</html>