<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!-- font Owsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>About Us | SUO</title>
    <link rel="stylesheet" href="/Style/aboutUs.css" />
</head>

<body>

    <div class="mp-nav-container">
        <div class="mp-nav-container-logo-container">
            <img src="/Images/suoconsulting-logo.png" alt="this is an logo" />
        </div>

        <div class="mp-nav-container-navItem-container">
            <a href="#Insights" class="insights">Insights &nbsp; <i class="fas fa-chevron-down"
                    style="color: white;"></i></a>
            <a href="/view/services/servicesMain.html" target="_self" class="services">Services &nbsp <i
                    class="fas fa-chevron-down" style="color: white;"></i></a>
            <a href="/view/Career/career.html" target="_self" class="career">Careers &nbsp<i class="fas fa-chevron-down"
                    style="color: white;"></i></a>
            <a href="/view/media/mediaMain.html" target="_self" class="Media">Media &nbsp<i class="fas fa-chevron-down"
                    style="color: white;"></i></a>
            <a href="/view/sectors/sectorMain.html" class="sectors">Sectors &nbsp<i class="fas fa-chevron-down"
                    style="color: white;"></i></a>
            <a href="/view/About us/aboutUs.html" target="_self" class="About-us">About Us &nbsp <i
                    class="fas fa-chevron-down" style="color: white;"></i></a>
        </div>

        <div class="mp-nav-container_Utility-Icons">
            <a href="/view/Forms/ContactUs.html" style="color: white; text-decoration: none; ">ContactUs  &nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i>  </a>
        </div>
    </div>

    <!-- ***********slider******************** -->
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="500">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" id="sliderContainer">
                <div class="carousel-item active" id="sliderContainer" style="background-image: url(/Images/AboutUS/topslider/DSC00683.JPG);">
    
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Work Enviorment</h2>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="carousel-item" id="sliderContainer" style="background-image: url(/Images/AboutUS/topslider/DSC00689.JPG);">

                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-item" id="sliderContainer" style="background-image: url(/Images/AboutUS/topslider/DSC00725.JPG); background-position-y: initial;">
                   
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>
                            Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Clone first and last slides
            $(".carousel-inner .carousel-item:last").after(
                $(".carousel-inner .carousel-item:first").clone()
            );
            $(".carousel-inner .carousel-item:first").before(
                $(".carousel-inner .carousel-item:last").prev()
            );

            // Enable carousel
            $(".carousel").carousel();
        });
    </script>


    <div class="AboutUsHeading">
        <h2>About Us</h2>
    </div>

    <div class="about-container">
        <div class="whatWeAre item">
            <h3>What We Are</h3>
            <br /><br />
            <p style="text-align: justify">
                SUO Consulting is providing solutions relating to business purpose and strategy consultancy, cross-border trade, investments and commercial transactions for business, Corporate and Debt Restructuring, Mergers and Acquisitions, Project and Contract Management Consultancy, Human Resource Mobility and Immigration, Start-up Advisory and International Business with related issues of IPR and data management, international taxation, Anti-bribery Investigations. 
            </p>
        </div>
        <div class="whatWeDo item">
            <h3>What We Do</h3>
            <br /><br />
            <p>
                We provide customer focused, tailor-made solutions to assist their professional and portfolio growth. We are nothing if not for our relationships with our loyal clientele. It is what differentiates us from the rest - a human touch. We have dedicated professionals that give their undivided attention to each of our clients, carefully
                articulating their business acumen, experience and preferences, identifying the options that fit them best and guide them in its execution.
                
            </p>
        </div>
    </div>


    <div class="AboutUsHeading">
        <h2 style="color: white; font-size: 35px; text-align: center;">Our Team</h2>
    </div>


    <div class="slider-container" >
        <div class="slides">
            <div class="slide">
                <img src="/Images/AboutUS/ouTeam/SuremUppal.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="/Images/AboutUS/ouTeam/sneahaBaul.jpeg"  alt="">
            </div>
          
            <!-- Add more slides as needed -->
        </div>
        <button class="prev-slide"><i class="fa-solid fa-chevron-right fa-rotate-180 fa-lg" style="color: #fafafa;"></i></button>
        <button class="next-slide"><i class="fa-solid fa-chevron-right fa-lg" style="color: #fafafa;"></i></button>
    </div>


    <div class="about-container">
        <div class="whatWeAre item">
            <h3>PURPOSE</h3>
            <br /><br />
            <p style="text-align: justify">
                We are an organisation that is impact-driven and relationship-centric. What allows us to stand tall in the market today, is our vast and strong network throughout the world. It is a lattice of prestigious law firms, business leaders, incubators & accelerators, government officials, chambers of commerce, international investment bodies, immigration consultants and mobility professionals.
            </p>
        </div>
        <div class="whatWeDo item">
            <h3>VALUES</h3>
            <br /><br />
            <p>
                Our client-first principles, ethos of clear-cut legal compliance and commitment to transparency underlie all of our advisory, outreach and decision-making. We make no compromises in ensuring that all 3 dimensions are firmly in place at each and every step.
                
            </p>
        </div>
    </div>


    <!-- Our Offices -->


    <div class="AboutUsHeading">
        <h2 style="color: white; font-size: 35px; text-align: center;">Our Offices</h2>
    </div>


    
    <div class="officeContainer">

        
        <div class="card officesCard" style="width: 18rem;">
            <img class="card-img-top" src="/Images/AboutUS/offices/DSC00730.JPG" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">
                Noida
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Loaction <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
          <div class="card officesCard" style="width: 18rem;">
            <img class="card-img-top" src="/Images/ap1-img3.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Chandigarh</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Loaction<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
          <div class="card officesCard" style="width: 18rem;">
            <img class="card-img-top" src="/Images/ap1-img3.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mumbai</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Location<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
          <div class="card officesCard" style="width: 18rem;">
            <img class="card-img-top" src="/Images/ap1-img3.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Zurich</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Location<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        
    </div>

    <!-- footer -->
    
    <div class="footer-container">
        <div class="footer-item ">
            <div class="footer-list1">
                <a href="#">Preference Center</a>
                <a href="">Careers</a>
                <a href="">About Us</a>
                <a href="">Contact Us</a>
                <a href="">Locations</a>
                <a href="">Sitemap</a>
            </div>
            <div class="footer-list2">
                <a href="">Privecy Statement</a>
                <a href="">Terms & Condition</a>
                <a href="">Cookie Policy</a>
                <a href="">Accessibility Statement</a>
            </div>
          
        </div>
        
            <!-- inquery form will come here  -->
            <div class=" footer-item left-align">
                <div class="border-0 custom-border">
                  <form>
                    <label for="name" class="form-label" >Name</label>
                    <input type="text" id="name" class="form-control"  name="name" placeholder="Den michel"><br><br>
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="xyz@gmail.com"><br><br>
                    <label for="userQuery" class="form-label">Enter your Query</label>
                    <textarea id="userQuery" class="form-control" name="userQuery" rows="4" cols="50" placeholder="Query Description"></textarea> <br>
                    <input type="submit" value="Submit" >
                  </form>
                </div>
              </div> 
      </div>

      
      





    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="/Scripts/Controller/AboutUs.js"></script>
</body>

</html>