<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privecy Policy</title>
    <link rel="stylesheet" href="/Style/privecyPolicy.css">
</head>
<body>

    <div class="mp-nav-container">
        <div class="mp-nav-container-logo-container">
            <img src="/Images/suoconsulting-logo.png" alt="this is an logo" />
        </div>
  
        <div class="mp-nav-container-navItem-container">
            <a href="#Insights" class="insights">Insights &nbsp; <i class="fas fa-chevron-down"
                    style="color: white;"></i></a>
            <a href="view/services/servicesMain.html" target="_self" class="services">Services &nbsp <i
                    class="fas fa-chevron-down" style="color: white;"></i></a>
            <a href="view/Career/career.html" target="_self" class="career">Careers &nbsp<i class="fas fa-chevron-down"
                    style="color: white;"></i></a>
            <a href="view/media/mediaMain.html" target="_self" class="Media">Media &nbsp<i class="fas fa-chevron-down"
                    style="color: white;"></i></a>
            <a href="view/sectors/sectorMain.html" class="sectors">Sectors &nbsp<i class="fas fa-chevron-down"
                    style="color: white;"></i></a>
            <a href="view/About us/aboutUs.html" target="_self" class="About-us">About Us &nbsp <i
                    class="fas fa-chevron-down" style="color: white;"></i></a>
        </div>
  
        <div class="mp-nav-container_Utility-Icons">
            <a href="/view/Forms/ContactUs.html" style="color: white; text-decoration: none; ">  <i class="fa-solid fa-arrow-up-right-from-square"></i>  &nbsp; ContactUs</a>
        </div>
    </div>
    
    <div class="termAndPolicy">
   
    Privacy Policy
    SUO Consulting GmbH
<h2>Introduction</h2> <br>
Introduction
Protecting your data is essential to SUO Consulting GmbH (hereinafter referred as SUO).
We want our Clients or users to feel secure when using our services.
This Privacy Policy is intended to describe the practices of SUO Consulting GmbH with
respect to the privacy of all individuals whose personal data is processed and stored in the
website. This privacy policy is aligned with the revised Federal Data Protection Act
(revFADP), Swiss Data Protection Act (DPA) and the European General Data Protection
Regulation (GDPR). However, the GDPR applies to a specific processing operation
depending on the individual case.
Kindly read this Privacy Policy carefully.
Data controller and its contact details
SUO Consulting GmbH, is a Limited Liability Company with its registered office in
Zurich, Switzerland involved in providing legal, investment and business advisory
including new age & deep technology consulting services to the global clientele.
Address: Schauenbergstrasse 4, 8046 Zürich
UID: CHE-391.430.465
Email id: info@suoconsulting.com
Collection and processing of personal data
As per Article 4(2) of the General Data Protection Regulation, ‘processing’ means any
operation or set of operations which is performed on personal data or on sets of personal
data, whether or not by automated means, such as collection, recording, organization,
structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by
transmission, dissemination or otherwise making available, alignment or combination,
restriction, erasure or destruction.
Personal data refers to the information that relates to the specific or identifiable natural
person. SUO collects personal data that it receive from its users, clients, employees,
business partners or from authorities such as courts, arbitral tribunals or other third
parties (for instance, opposing parties or business partners of its clients), that SUO
receives when providing its services to the clients globally through the websites,
applications, any other forms and offers. Insofar as it is permitted to SUO, we may also
obtain certain personal data from publicly accessible sources.
How does the website process personal data?
As a user or client of SUO, the personal data is processed in the Tool is used for one or
more of the following purposes:
- Account creation,
- Logging into SUO Consulting GmbH,
- Submission of query form or any other form mentioned in the website,
- To conduct interactions for providing the services,
- Processing, evaluating, and managing queries and requirements of the user,
- Providing advice or services to the user or clients, and
- Providing updates regarding the services under the sectors of SUO.
The categories of personal data which SUO collect and process may include (in
particular) the following data
- Personal information- Personal information, contact details and/or qualifications.
The personal data includes name, address, telephone number, e-mail address, date
of birth, nationality, gender, professional or educational qualifications and
activities, information related to affiliated persons or company, affiliations with
third parties.
- Contractual information- Information relating to mandates and other
agreements, such as contracts and contractual obligations, scope of work, claims,
communication relating to mandates and other agreements.
- Information received through interactions in certain ways- Information
contained in the communication or other interactions with SUO, such as
correspondence by letter or e-mail or through other means of communication with
you or with third parties, meetings, call history, access logs, inquiries, social media
activities.
- Financial information- Financial information, such as invoicing information,
payment details, bank details, information relating to due amount paid to SUO for
its services, financial situation, accounting information, creditworthiness, debt
enforcement and bankruptcy information.
- Marketing information- Data related to marketing activities, such as preferences
and interests, newsletter opt-ins and opt-outs, responses to marketing activities,
invitations and participation in events and activities.
- Any data which are related to the use of the website- Data related to the use of
SUO’s website and other applications, such as connection data, IP address and
other identifiers such as data from cookies and similar technologies, date and time
of the visit to the SUO’s website, duration of the visit to the website, requested
internet address (URL), referrer URL (i.e. the internet address of the website from
which you accessed the website, if applicable with the search term used), browser
type and version, operating system used, amount of data sent in bytes, and the
search term used, location data, pages and content accessed, functions used.
- Information obtained from public sources-Data obtained from public registers
and other public sources, such as the debt enforcement register, credit rating
directories, land register, commercial register, media and internet.
The Purposes of data processing by SUO and its possible legal basis
SUO process the personal data of its users or clients in accordance with applicable data
protection law for the following purposes and, if necessary under applicable data
protection law, on the basis of the following legal bases:
- For the performance of contracts: SUO processes personal data in connection
with the performance of contracts with the clients and business partners,
particularly in the context of providing legal and business advisory them and the
procurement of products and services from subcontractors (for e.g., foreign and
domestic lawyers and law firms or experts), as well as in order to comply with our
legal obligations relating thereto. The purpose of data processing and any further
data protection information may be found in the respective contracts, its
addendums, terms and conditions and/or other applicable documents.
- To fulfill legal obligations: SUO processes personal data in order to comply with
its legal or regulatory obligations. Processing purposes may include but are not
limited to documenting the compliance with legal and regulatory requirements.
- To safeguard its legitimate interests: SUO processes personal data for the
following purposes, if there is necessity to protect the legitimate interests of SUO,
third parties or the interests of publica.
communication with the third parties and processing of their requests (e.g.,
job applications, media inquiries,or any other query),
b. advertising and marketing (including organizing events), provided that the
user or client have not objected to the use of its data for this purpose (if you
are part of our client base and you receive marketing communication, you
may object at any time),
c. market, opinion research, survey or media surveillance,
d. asserting legal claims and defense in legal disputes and official
proceedings,
e. prevention and investigation of offences and other misconduct (e.g.,
conducting internal investigations, data analysis to combat fraud),
f. ensuring SUO’s business operations, including its IT, websites and
applications,
g. surveillance such as access controls, visitor logs, network and mail scanners
may be used by SUO to protect the rights and other measures to ensure the
safety of our premises and facilities as well as protection of our employees
and other individuals and assets owned by or entrusted to us,
h. possible corporate transactions and the transfer of personal data related
thereto as well as measures for business management and compliance with
legal and regulatory obligations,
i. Based on your consent: If you have given us consent to process your
personal data for certain purposes (for example, when you register to
receive newsletters, or updates), SUO process your personal data within the
scope of and based on this consent, unless we have another legal basis and
we require such a basis. Consent given can be revoked at any time, but this
has no effect on data processing that has already taken place.
Who could access your personal data?
Your personal data is accessed by the following persons/teams of SUO:
- Employees, or Legal Advisors,
- Hiring Managers,
- Global Recruiters,
- Staffing solutions agency,
- SUO Support staff,
- IT Support Team,
- Marketing/ Digital Marketing Team.
SUO may obtain your personal data in various ways such as-
- Provided by the users itself- Some personal data SUO receive directly from the
users and/or clients. For example., personal information in emails, messages to
SUO and information you enter in an online contact or query form or online
portal.
- It is possible that SUO may obtain clients/users personal data from other Company
software systems. This data may come from the following sources:
- From the staffing solution/ agency reference,
- From the Company referred the clients to SUO,
- From the business partner of SUO,
- From the associate company of SUO, and
- From any Recruiting company/agency.
Cookies, tracking and other technologies related to the use of SUO’s website
When using SUO’s website, data is generated that is stored in logs (especially technical
data). A cookie is a small file that is transmitted between the server and your system and
enables the recognition of a specific device or browser.
You can set your browser to automatically reject, accept or delete cookies. You can also
disable or delete cookies on a case-by-case basis. You can find out how to manage
cookies in your browser in the help menu of your browser.
We also use social media plug-ins, which establish a connection between your visit to our
website. In addition, we use our own tools as well as third-party services (which may in
turn use cookies) on our website, in particular to improve the functionality or content of
our website (e.g. for displaying the website content in your preferred language as well as
for integrating videos or maps) and to compile statistics.
Types of cookies use by SUO
There are different types of cookies:
- Session cookies: these are cookies which last for as long as you keep you open the
website and expire when you close the website.
- Persistent cookies: these are cookies which stay on your device for a set period of
time and expire at a fixed point in time or if you manually delete them from your
browser, whichever occurs first.
- Social Media Cookies: SUO uses cookies set by Social Sites (such as the
Facebook “like” button) which enables you to share and engage with our Content
via these Social Sites. By allowing these cookies, these Social Sites may be able to
track your browser activity and build up a profile of your interests.
Reasons for processing the personal data of the users/clients
Processing of your personal data is necessary for the purposes of the legitimate interests
pursued by SUO or by a third party, except where such interests are overridden by the
interests or fundamental rights and freedoms of the data subject which require protection
of personal data. The specific legitimate interest(s) are:
- Human Resource facilitation,
- Providing advisory legal and/or business services,
- Or any other services which are under the scope and objectives of SUO.
SUO will use third-party service providers that are bound to maintain appropriate levels
of data protection, security, and confidentiality, and that comply with the required
regulations for transferring personal data outside the jurisdiction in which it was
originally collected.
Sensitive personal data
As per General Data Protection Regulation, sensitive personal data includes racial or
ethnic origin, political opinions, religious or philosophical beliefs, trade union
membership, genetic data, biometric data, data concerning health or data concerning sex
life or sexual orientation.
SUO will not collect any sensitive personal data of its users or clients. However, the
collection and processing of sensitive or special personal data may be required by SUO in
providing appropriate legal services, such as:
- Government identifiers such as passport numbers, visa details and national ID
numbers,
- Data relating to any previous or present criminal convictions,
- Data concerning health for the purpose of immigration procedure,or
- Any other information which is needed by SUO to give appropriate advice.
Security
SUO protects the confidentiality and security of information it obtains in the course of its
business. Henceforth, we will not transfer your personal data internationally unless we
have your permission or are required by law to do so.
Users or Clients rights in relation to their personal data
You may have certain rights in relation to your personal data, including:
- To request details of the personal data SUO processes about you and to access the
personal data that the Company processes about you,
- To have your personal data corrected, for example, if it is incomplete or incorrect,
- To restrict or object to the processing of personal data or request the
omission/deletion of your personal data,
- The right to withdraw your consent to the processing of your personal data.
(Last updated on 22.12.2023)
If you have additional questions or concerns, contact info@suoconsulting.com.

</div>
</body>
</html>